@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #231557, #44107a, #ff1361);
    --background: 269 98.05% 98.42%;
    --foreground: 269 6.1% 0.84%;

    --muted: 269 6.1% 92.1%;
    --muted-foreground: 269 3.05% 42.1%;

    --popover: 269 41.2% 92.1%;
    --popover-foreground: 269 6.1% 1.05%;

    --card: 269 41.2% 92.1%;
    --card-foreground: 269 6.1% 1.05%;

    --border: 269 11.1% 89.84%;
    --input: 269 11.1% 89.84%;

    --primary: 269 61% 21%;
    --primary-foreground: 269 1.22% 92.1%;

    --secondary: 269 3.05% 96.05%;
    --secondary-foreground: 269 4.66% 12.1%;

    --accent: 269 3.05% 96.05%;
    --accent-foreground: 269 4.66% 12.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 269 61% 21%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #3a1c71, #d76d77, #ffaf7b);

    --background: 278 39% 2.24%;
    --foreground: 278 6% 96.4%;

    --muted: 278 30% 8.4%;
    --muted-foreground: 278 6% 52.8%;

    --popover: 278 53% 3.6400000000000006%;
    --popover-foreground: 278 6% 96.4%;

    --card: 278 53% 3.6400000000000006%;
    --card-foreground: 278 6% 96.4%;

    --border: 278 30% 8.4%;
    --input: 278 30% 8.4%;

    --primary: 278 60% 28%;
    --primary-foreground: 278 6% 96.4%;

    --secondary: 278 30% 8.4%;
    --secondary-foreground: 278 6% 96.4%;

    --accent: 278 30% 8.4%;
    --accent-foreground: 278 6% 96.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 278 6% 96.4%;

    --ring: 278 60% 28%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
